body {
  --pink: #FF1C68;
  --green: #14D790;
  --blue: #198FE3;
  --white: #fff;
  --purple: #A100F6;
  --yellow: yellow;
  --brown: brown;
  --black: black;
  --orange: orange;
  --navy: navy;
  --violet: violet;
  background: var(--white);
  font-family: 'PT Sans', sans-serif;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.stage {
  margin: 0 auto;
  padding: 20px;
  list-style: none;
}

.item {
  width: 100%;
  position: relative;
  border-radius: 5px;
  margin: 0 auto 2px auto;

  &:last-child {
    margin-bottom: 0;
  }

  &[data-key='1'] {
    background: var(--green);
  }

  &[data-key='2'] {
    background: var(--blue);
  }

  &[data-key='3'] {
    background: var(--purple);
  }

  &[data-key='4'] {
    background: var(--yellow);
  }

  &[data-key='5'] {
    background: var(--brown);
  }

  &[data-key='6'] {
    background: var(--black);
  }

  &[data-key='7'] {
    background: var(--orange);
  }

  &[data-key='8'] {
    background: var(--navy);
  }

  &[data-key='9'] {
    background: var(--violet);
  }

  &[data-key='10'] {
    background: var(--pink);
  }

  &[data-key='11'] {
    background: var(--green);
  }

  &[data-key='12'] {
    background: var(--blue);
  }

  &[data-key='13'] {
    background: var(--purple);
  }

  &[data-key='14'] {
    background: var(--yellow);
  }

  &[data-key='15'] {
    background: var(--brown);
  }

  &[data-key='16'] {
    background: var(--black);
  }

  &[data-key='17'] {
    background: var(--orange);
  }

  &[data-key='18'] {
    background: var(--navy);
  }

  &[data-key='19'] {
    background: var(--violet);
  }

  &[data-key='20'] {
    background: var(--pink);
  }

  &[data-key='21'] {
    background: var(--green);
  }

  &[data-key='22'] {
    background: var(--blue);
  }

  &[data-key='23'] {
    background: var(--purple);
  }

  &[data-key='24'] {
    background: var(--yellow);
  }

  &[data-key='25'] {
    background: var(--brown);
  }

  &[data-key='26'] {
    background: var(--black);
  }

  &[data-key='27'] {
    background: var(--orange);
  }

  &[data-key='28'] {
    background: var(--navy);
  }

  &[data-key='29'] {
    background: var(--violet);
  }

  &[data-key='30'] {
    background: var(--pink);
  }

  &[data-key='31'] {
    background: var(--green);
  }

  &[data-key='32'] {
    background: var(--blue);
  }

  &[data-key='33'] {
    background: var(--purple);
  }

  &[data-key='34'] {
    background: var(--yellow);
  }

  &[data-key='35'] {
    background: var(--brown);
  }

  &[data-key='36'] {
    background: var(--black);
  }

  &[data-key='37'] {
    background: var(--orange);
  }

  &[data-key='38'] {
    background: var(--navy);
  }

  &[data-key='39'] {
    background: var(--violet);
  }

  &[data-key='40'] {
    background: var(--pink);
  }

  &[data-key='41'] {
    background: var(--green);
  }

  &[data-key='42'] {
    background: var(--blue);
  }

  &[data-key='43'] {
    background: var(--purple);
  }

  &[data-key='44'] {
    background: var(--yellow);
  }

  &[data-key='45'] {
    background: var(--brown);
  }

  &[data-key='46'] {
    background: var(--black);
  }

  &[data-key='47'] {
    background: var(--orange);
  }

  &[data-key='48'] {
    background: var(--navy);
  }

  &[data-key='49'] {
    background: var(--violet);
  }

  &[data-key='50'] {
    background: var(--pink);
  }
}