button {
  background: palevioletred;
  color: white;
  font-size: 1em;
  margin: 1em;
  padding: 0.7em 1em;
  border: 2px solid palevioletred;
  border-radius: 3px;
  cursor: pointer;

  &:hover:enabled {
    background: tomato;
    color: #333333;
  }
  
  &:disabled {
    opacity: .5;
  }
}

input {
  padding: 1em;
  margin: 1em;
  width: 300px;
  color: palevioletred;
  background: papayawhip;
  border: none;
  border-radius: 3px;

  &.animation-time {
    width: 65px;
  }
}